### Titanic problem Kaggle

In [1]:
import pandas as pd

In [2]:
train  = pd.read_csv('http://bit.ly/kaggletrain')
train.head()

# predict survival of the passenger

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
feature_cols = ['Pclass','Parch']
# feature matrix

X = train.loc[:,feature_cols]
X.shape

(891, 2)

In [4]:
y = train.Survived

In [5]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X,y)

LogisticRegression()

In [6]:
test  = pd.read_csv('http://bit.ly/kaggletest')
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [7]:
X_new = test.loc[:,feature_cols]
X_new.shape

(418, 2)

In [8]:
new_pred_class = logreg.predict(X_new)

In [9]:
pd.DataFrame({'PassengerId':test.PassengerId,'Survived':new_pred_class}).set_index('PassengerId').to_csv('sub.csv')

In [10]:
test.sample(n=3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
331,1223,1,"Dulles, Mr. William Crothers",male,39.0,0,0,PC 17580,29.70,A18,C
365,1257,3,"Sage, Mrs. John (Annie Bullen)",female,NaN,1,9,CA. 2343,69.55,NaN,S
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.50,NaN,S

In [11]:
train1 = train.sample(frac=0.75,random_state=99)
test1 = train.loc[~train1.index.isin(train1.index),:]
# random state is used so that it spits out same randomly chosen variables each time
# the above code generates test data and train data from the same test data

IndexError: Boolean index has wrong length: 668 instead of 891