In [206]:
import pandas as pd

In [207]:
df = pd.read_csv("train.csv")
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [208]:
df.drop("Name",axis=1,inplace=True)

In [209]:
df.Age.fillna(df.Age.mean(),inplace=True)
df.RoomService.fillna(df.RoomService.mean(),inplace=True)
df.FoodCourt.fillna(df.FoodCourt.mean(),inplace=True)
df.ShoppingMall.fillna(df.ShoppingMall.mean(),inplace=True)
df.Spa.fillna(df.Spa.mean(),inplace=True)
df.VRDeck.fillna(df.VRDeck.mean(),inplace=True)
df.VIP.fillna(df.VIP.mode()[0],inplace=True)
df.HomePlanet.fillna(df.HomePlanet.mode()[0],inplace=True)
df.CryoSleep.fillna(df.CryoSleep.mode()[0],inplace=True)
df.Destination.fillna(df.Destination.mode()[0],inplace=True)
df.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin           199
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Transported       0
dtype: int64

In [210]:
df["group"] = df.PassengerId.astype("str").apply(lambda x: x.split("_")[0])
df["Cabin"].fillna("A/0/S",inplace=True)
df[["deck", "num", "side"]] = df["Cabin"].str.split("/", expand=True)
df.drop("Cabin",axis=1,inplace=True)

In [211]:
df["HomePlanet"] = df.HomePlanet.astype("category")
df["HomePlanet"] = df.HomePlanet.cat.codes

In [212]:
df["Destination"] = df.Destination.astype("category")
df["Destination"] = df.Destination.cat.codes

In [213]:
df["side"] = df.side.astype("category")
df["side"] = df.side.cat.codes

In [214]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,group,deck,num,side
0,0001_01,1,False,2,39.0,False,0.0,0.0,0.0,0.0,0.0,False,0001,B,0,0
1,0002_01,0,False,2,24.0,False,109.0,9.0,25.0,549.0,44.0,True,0002,F,0,1
2,0003_01,1,False,2,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,0003,A,0,1
3,0003_02,1,False,2,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,0003,A,0,1
4,0004_01,0,False,2,16.0,False,303.0,70.0,151.0,565.0,2.0,True,0004,F,1,1

In [215]:
df.dtypes

PassengerId      object
HomePlanet         int8
CryoSleep          bool
Destination        int8
Age             float64
VIP                bool
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Transported        bool
group            object
deck             object
num              object
side               int8
dtype: object

In [216]:
df["group"] = df["group"].astype("int64")
df["num"] = df["num"].astype("int64")
df["deck"] = df.deck.astype("category")
df["deck"] = df.deck.cat.codes

In [219]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

model = SVC(max_iter=10000)

X = df.drop(["PassengerId","Transported"],axis=1)
y = df.Transported

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33)
model.fit(X_train,y_train)

SVC(max_iter=10000)

In [221]:
model.score(X_test,y_test)

0.7699546880446149